<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Portal CRM</h1>
    <p>Para ingresar debe entrar con su Correo Electronico Institucional.</p>
    <button type="button" class="btn btn-outline-primary"><%= link_to "Entrar", new_user_session_path %></button>
  </div>
</div>

